#about-top {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0,0,0,0.3)), url("../../assets/images/daniel-gregoire-ifPS5viyKb8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 75px;
}

#about-top h2 {
    font-size: 44px;
    font-weight: lighter;
}

#about-top p {
    font-size: 22px;
    font-weight: lighter;
    width: 50%;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {

  #about-top p {
    width: 100%;
  }

}