#about-top {
  background-image: url("../../assets/images/daniel-gregoire-ifPS5viyKb8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  padding: 75px;
}

#about-top-text {
  padding: 50px;
  width: 50%;
}

#about-top-text h2 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
}

#about-top-text p {
  color: white;
  font-size: 20px;
}
